@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
            0deg,
            rgba(11, 8, 27, 1) 20%,
            rgba(93, 93, 213, 1) 80%
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Tilt Prism', cursive;
    margin: 0;
}

.music-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 25px 20px 0 rgba(255, 255, 255, 0.45);
    display: flex;
    z-index: 10;
    position: relative;
    margin: 100px 0;
    padding: 20px 30px
}

.image-container {
    position: relative;
    width: 110px;
}

.image-container img {
    border-radius: 50%;
    width: inherit;
    height: 110px;
    position: absolute;
    bottom: 10px;
    /*bottom: 0;*/
    right: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-container.play .image-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-button {
    background-color: white;
    color: #bfdbdf;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-button.action-button-big {
    font-size: 30px;
    color: #cdc2d0;
}

.action-button:hover {
    outline: 1px solid blue;
}